body {
  margin: 0;
  font-family: "Consolas", monospace;
  background-color: #0d1117;
  color: #00ff88;
  overflow: auto;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: linear-gradient(90deg, #001a00, #004d00);
  box-shadow: 0 0 15px #00ff88;
}

header h1 {
  font-size: 2rem;
  color: #00ff88;
}

#logo img {
  background-size: cover;
  border-radius: 5px;
  margin-top: 17px;
}

#access-granted {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #00ff88;
  font-size: 2rem;
  letter-spacing: 2px;
  animation: fadeOut 3s ease 2s forwards;
  z-index: 10;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}


.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  opacity: 0;
  animation: fadeIn 1.5s ease 3.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.listbox {
  width: 80%;
  max-width: 600px;
  border: 1px solid #00ff88;
  border-radius: 10px;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 15px #00ff88;
  padding: 10px;
}

.item {
  border-bottom: 1px solid #00ff88;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.item:hover {
  background: rgba(0, 255, 136, 0.1);
}

.content {
  display: none;
  padding: 10px;
  color: #a8ffdc;
  font-size: 0.95rem;
  border-left: 2px solid #00ff88;
}


footer {
  border-top: solid 1px #00ff88;
  width: 100vw;
  text-align: center;
  padding: 14px;
  font-size: 1.1rem;
  color: #007b55;
  position: relative;
  bottom: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #00ff88;
  border-radius: 10px;
}


#logout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#Logbutn {
  padding: 7px 10px;
  border-radius: 3px;
  background-color: #00ff88;
  text-shadow: #a8ffdc;
  font-size: 13px;
}
